
[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[requires]
python_version = "3.6"

[dev-packages]

[packages]
django = "*"
django-environ = "*"
slackclient = "~=1.0.9"
gunicorn = "*"
"psycopg2" = "*"
whitenoise = "*"
django-rq = "==2.0"
